<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ida:AADInstance" value="https://login.windows.net/{0}"/>
    <add key="ida:Tenant" value="fhtrue.com"/>
    <add key="ida:ClientId" value="3baf25ad-4ad8-4274-92f7-828c95da3e08"/>
    <add key="ida:RedirectUri" value="http://localhost"/>
    
    <add key="ApiResourceId" value="https://pocportalapiapp.azurewebsites.net"/>
    <add key="ApiBaseAddress" value="https://pocportalapiapp.azurewebsites.net"/>
  </appSettings>
</configuration>